# =========================
# TURBO
# =========================
.turbo/
turbo/
**/.turbo/

# =========================
# NODE
# =========================
node_modules/
**/node_modules/

# =========================
# BUILD OUTPUT
# =========================
dist/
build/
.out/
.next/
coverage/

# =========================
# LOGS
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# ENV FILES
# =========================
.env
.env.*
!.env.example

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/
*.swp

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo

# =========================
# DATABASE / ORM
# =========================
ormconfig.json
ormconfig.ts
